.App {
  text-align: center;
}
.squar{
  border: 1px solid black;
  /* border-image-source: url(); */
  height: 15vh;
  width: 10vw;
  text-align: center;
}

.board-row{
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 20vh; */
}

/* .Board{
  border: 1px solid black;
} */