.App {
  margin-left: 40%;
  margin-top: 10%;
}

h1 {
  margin-left: 7%;
}

.btn-1 {
  background-color: green;
  color: white;
  padding: 2px 10px;
  border-radius: 5px;
}

.btn-2 {
  background-color: red;
  color: white;
  padding: 2px 10px;
  border-radius: 5px;
  margin-left: 10px;
}

li {
  list-style-type: decimal;
  margin: 6px 0px;
}

.btn-1 {
  background-color: green;
  color: white;
  padding: 2px 10px;
  border-radius: 5px;
}

.btn-2 {
  background-color: red;
  color: white;
  padding: 2px 10px;
  border-radius: 5px;
  margin-left: 10px;
}

li {
  list-style-type: decimal;
  margin: 6px 0px;
}


.btn-1 {
  background-color: green;
  color: white;
  padding: 2px 10px;
  border-radius: 5px;
}

.btn-2 {
  background-color: red;
  color: white;
  padding: 2px 10px;
  border-radius: 5px;
  margin-left: 10px;
}

li {
  list-style-type: decimal;
  margin: 6px 0px;
}
