*{
  background-color: #f78bfa;
  /* font-family:Arial, sans-serif; */
}
.App {
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  
}







